<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.food.model.dao.ReviewDao">

    <insert id="insertReview" parameterType="review">
		INSERT INTO board (User_Id, Res_Id, Review_Content, Review_Thumbnail)	
		VALUES (#{User_Id}, #{Res_Id}, #{Review_Content}, #{Review_Thumbnail})
	</insert>

	<select id="selectAll" resultType="Review" parameterType="int">
		SELECT *
		FROM Review
		WHERE Res_Id = #{id}
	</select>

<!--    <delete >-->
<!--    </delete>-->

</mapper>