<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.food.model.dao.UserDao">

	<!-- <select id="selectAll" resultType="User">
		SELECT  User_Id, User_Pass, User_Name,
				User_Cha, 
		FROM user u, review r
		WHERE 이거 해야하나 보류
	</select> -->

	<insert id="insertUser" parameterType="User">
		INSERT INTO user
		VALUES (#{id}, #{password}, #{name}, #{character})
	</insert>
	
	<select id="selectOne" parameterType="String" resultType="User">
		SELECT User_Id, User_Pass, User_Name
		FROM user
		WHERE  User_Id = #{id}
	</select>
	
	
	
</mapper>